.App {
  min-height: 100vh;
  background: #1e1e1e;
  --primary: #38b;
  --container: 95vw;
}

.container {
  width: var(--container);
  margin: 0 auto;
}

aside {
  width: 20%;
  background-color: #222;
  padding: 0.5rem 1rem;
}

.home {
  display: flex;
  width: 100%;
  flex-direction: row wrap;
}

.home > main {
  width: 95%;
  margin: 0 1rem;
}

.home .right {
  display: flex;
  flex-direction: column;
}
