.App {
  min-height: 100vh;
  background: #1e1e1e;
  --primary: #38b;
  --container: 95vw;
}

.container {
  width: var(--container);
  margin: 0 auto;
}

aside {
  width: 20%;
  background-color: #222;
  padding: 0.5rem 1rem;
}

main {
  width: 100%;
}

.home {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  gap: 2rem;
}
