.messages {
  height: calc(100vh - 9rem);
  overflow-y: hidden;
  display: flex;
  flex-flow: column-reverse nowrap;
  padding: 0.5rem 0;
  margin: 0 1rem 0 1rem;
}

.message {
  position: relative;
  max-width: 60%;
  margin: 0.25rem 0;
  display: flex;
  flex-flow: column wrap;
}

.content {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: #333;
  color: #fff;
  font-size: 0.9rem;
  width: max-content;
  max-width: 60%;
}

.sender {
  font-weight: 700;
  font-size: 0.9rem;
  margin: 0 0 0.25rem 0;
  color: #556;
  font-weight: lighter;
}

.active {
  align-self: flex-end;
  margin: 1rem 0 0.25rem 0;
}

.active .content {
  background-color: #335;
}
.active .sender {
  display: none;
}
